{% extends 'core/base.html' %}


{% load static %}

{% block title %}

<title>Home CMS</title>
{% endblock title %}


{% block content %}

{% include 'core/navbar.html' %}




<div class="container mt-2">
    {% if data %}

    <p><b class="text-center bg-dark text-light">Teacher Portal</b></p>
    {% for i in data %}
    
    <p class="text-dark mt-2"><b>Welcome <span class="text-success">{{i.name | capfirst  }}</span> <br>{{i.email}} </b>  </p>

    <p><b class="text-danger"><a href="{% url 'logoutcms' %}" class="text-danger">Logout <i class="fa-solid fa-power-off"></i></a>  </b></p>
    <p><b class=""><a href="{% url 'addcourse' %}" class="btn btn-info">Add Course <i class="fas fa-solid"></i></a>  </b></p>
    {% endfor %}
   
  

    <div class="container mt-2">
        <h3 class="text-dark text-center">Your Courses</h3>
    </div>
    <div class="container" style='overflow-x:scroll;'>

        {% if course   %}

        <input type="text" name="input" id="myInput" class="form-control mt-2" placeholder="Search Course ">
        <table class="table table-striped mt-2" id="myTable">
          <th> Course Name </th>
          <th> Dispcription </th>
          <th> Image </th>
          <th> Updated </th>
          
          <th> Action </th>

            {% for i in course %}
            <tr>
            <td><p><b><a href="{% url 'opencourse' book=i.slug %}" class='text-dark'> {{i.cname | capfirst}}</a></b></p></td>

            {% if i.disp == '' %}
            <td>No Dispcription</td>
            {% else %}
            <td>{{i.disp | slice:":15"}}..</td>
            {% endif %}

            {% if i.cimg == 'False' %}
            
<td>  
    <img src="{% static 'cms/img/book.jpeg' %}" alt="default image" class="img-fluid" style='width:100px; height:100px; ' title="this is the default image">          
</td>
            {% else %}
<td>   
    <img src="{{ i.cimg.url }}" alt="course image" class="img-fluid" style='width:100px; height:100px; '>
    
</td>

            {% endif %}

            <td>{{i.dateof}}</td>

            <td><a href="{% url 'deletecourse' book=i.slug %}" class="text-danger"><i class="fa fa-trash" aria-hidden="true"></i> Delete Course 
            </a></td>
        </tr>
            {% endfor %}

        </table>
        <script src="{% static 'cms/js/index.js' %}"></script>
        {% else %}

        <hr class="text-success">
        <h3 class="text-center">No Courses Yet.</h3>


     

        {% endif %}
     
    </div>
    {% else %}
    <h1>Something went wrong !!!</h1>
    {% endif %}
</div>
</div>

{% endblock content %}